<% content_for :javascript_includes do -%>
<%= javascript_include_tag "documents.js" %>
<% end -%>
<% if user_signed_in? %>
<div>Hello!! <%= current_user.first_name + " " + current_user.last_name%></div>
 <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
<%=link_to "Log in with Facebook", '/auth/facebook', :class => "popup", :"data-width" => 600, :"data-height" => 400%>
<!-- <a href="/auth/facebook">Facebook 登入</a> -->
<% end %>
<ul>
	<% @documents.each do |document| %>
	<li>
		<%= document.title %>
		<%= document.original_filename %>
		<%= link_to 'Show', document_path(document) %>
		<%= link_to 'Dlete', document_path(document), :method => :delete %>
	</li>
	<% end %>
</ul>
<%= link_to 'New doc', new_document_path %>