<% content_for :javascript_includes do -%>
<%= javascript_include_tag "document.js" %>
<% end -%>
<% content_for :title do -%>
<%= @title %>
<% end -%>
<% content_for :css_includes do -%>
<%= stylesheet_link_tag    "document.css", :media => "all" %>
<% end -%>
<div id="last_saved_markup_id" style="display:none"><%=@last_markup_id%></div>
<div id="saved_comments" style="display:none"><%=@comments%></div>
<div id="text_ranges" style="display:none"><%=@textRanges%></div>
<div id="last_saved_outline_id" style="display:none"><%=@last_saved_outline_id%></div>
<div id="outlines" style="display:none"><%=@outlines%></div>
<div id="content">
	<div id="users">
		<%for user in @users%>
		<div class="user" data-user-id='<%=user.id%>'>	
			<img class="photo" src='<%=user.image%>'/>	
			<div class="name">
				<%=user.first_name%> <%=user.last_name%>
			</div>
		</div>
		<%end%>
	</div>
	<div id="doc">
		<%= @body%>
	</div>
	<div id="comments"></div>
</div>
<div id="nav">
	<ul>
		<li>
			<a class="save-btn" id="save-btn"><span></span></a>
		</li>
		<li>
			<a class="top" id="mark-btn"><span>Mark</span></a>
		</li>
		<li>
			<a class="bottom" id="outline-btn"><span>Outline</span></a>
		</li>
		<li>
			<div><span id="info"></span></div>
		</li>
		<li>
			<a class="undo-btn" id="undo-btn"><span></span></a>
		</li>
		<li>
			<a class="redo-btn" id="redo-btn"><span></span></a>
		</li>
		<!-- <li>
			<a id="restore-btn">Restore</a>
		</li>
		<li>
			<a>Link 5</a>
		</li>
		<li>
			<a>Link 6</a>
		</li>
		<li class="search">
			<input type="text"/>
			<input class="searchbutton" type="submit" value=""/>
		</li> -->
	</ul>
</div>
